/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-color:lightblue;
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 300px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h4{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.font20{
	font-size:20px;
}
.homebgcolor{
background-color: #2d6d3b!important
}
.homeccbg{
border-color: #a9cfd5!important
}

.homeccbground{
background-color: #a9cfd5!important
}
/* .makeScroll{
  height:100%;
  overflow-y: scroll;
  background-color: lightblue;
} */
.t-5{
	margin-top: 5px
}
.m-10{
	margin-top: 10% !important;
}
.my-h-50{
	height: 55px;	
}
.my-padd-18{
	padding-top: 18px;	
}
.my-height-40{
	height:40px;
}
.my-margin-top{
	margin-top:10px;
}
.my-padding-top{
	padding-top:5px;
}
.whatsapp {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  border: 3px solid #008000;
  border-radius: 50%;
  transition-duration: 0.5s;
}
.whatsapp .fa-whatsapp {
  padding-top: 5px;
  font-size: 40px;
  text-decoration: none;
  color: #008000;
}
.whatsapp:hover {
  background-color: #008000;
}
.whatsapp:hover .fa-whatsapp {
  color: #fff;
}
.my-top-12{
top:-12px!important;
margin-left:-7px;	
}
.my-font-20{
	font-size: 20px;
}
.whitesmokec{
	color: whitesmoke !important;
}
.margin-b-100{
	margin-bottom:100px;
}

@keyframes spinner-border {
  to { transform: rotate(360deg); }
} 
.spinner-border{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}
.spinner-border-sm{
    height: 1rem;
    border-width: .2em;
}
.align-popup-div{
	padding-bottom: 0px; 
	padding-top: 0px;
}
.align-popup-btn{
	font-size: 40px;
}
.my-family-width-100{
	width:100% !important;
	height:100% !important;
}
.my-family-flex-width{
	flex: 100%; 
	max-width: 100%;
}